<!doctype html>
<html lang="zxx" class="theme-light">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" type="text/css"  href="{{url_for('static',filename='assets/css/bootstrap.min.css')}}">
        <!-- Animate CSS --> 
        <link rel="stylesheet"type="text/css" href="{{url_for('static',filename='assets/css/animate.min.css')}}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet"type="text/css" href="{{url_for('static',filename='assets/css/meanmenu.css')}}">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" type="text/css"href="{{url_for('static',filename='assets/css/boxicons.min.css')}}">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet"type="text/css" href="{{url_for('static',filename='assets/css/owl.carousel.min.css')}}">
        <!-- Owl Carousel Default CSS -->
        <link rel="stylesheet"type="text/css" href="{{url_for('static',filename='assets/css/owl.theme.default.min.css')}}">
        <!-- Odometer CSS -->
        <link rel="stylesheet" type="text/css"href="a{{url_for('static',filename='assets/css/odometer.min.css')}}">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" type="text/css"href="a{{url_for('static',filename='assets/css/magnific-popup.min.css')}}">
        <!-- Imagelightbox CSS -->
        <link rel="stylesheet"type="text/css" href="{{url_for('static',filename='assets/css/imagelightbox.min.css')}}">
        <!-- Style CSS -->
        <link rel="stylesheet"type="text/css" href="{{url_for('static',filename='assets/css/style.css')}}">
        <!-- Dark CSS -->
        <link rel="stylesheet" type="text/css"href="{{url_for('static',filename='assets/css/dark.css')}}">
        <!-- Responsive CSS -->
		<link rel="stylesheet"type="text/css" href="{{url_for('static',filename='assets/css/responsive.css')}}">
		
		<title>Ketan - Childcare & Kids School HTML Template</title>

        <link rel="icon" type="image/png" href="{{url_for('static',filename='assets/img/favicon.png')}}">
    </head>

    <body>
        
        <!-- Start Preloader Area -->
        <div class="preloader">
            <div class="loader">
                <div class="wrapper">
                    <div class="circle circle-1"></div>
                    <div class="circle circle-1a"></div>
                    <div class="circle circle-2"></div>
                    <div class="circle circle-3"></div>
                </div>
            </div>
        </div>
        <!-- End Preloader Area -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <div class="main-responsive-nav">
                <div class="container">
                    <div class="main-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <script type="text/javascript" style="display:none">
//<![CDATA[
window.__mirage2 = {petok:"LiLfn1.dfjT27Mh_JtBAzkERafQSYQeVDUOtyrhqYIw-1800-0"};
//]]>
</script>
<script type="text/javascript" src="{{url_for('static',filename='jax.cloudflare.com/cdn-cgi/scripts/04b3eb47/cloudflare-static/mirage2.min.js')}}"></script>
<img data-cfsrc="assets/img/logo.png" class="black-logo" alt="image" style="display:none;visibility:hidden;"><noscript><img src="{{url_for('static',filename='assets/img/logo.png')}}" class="black-logo" alt="image"></noscript>
                                <img data-cfsrc="assets/img/logo-2.png" class="white-logo" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/logo-2.png" class="white-logo" alt="image"></noscript>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-navbar">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img data-cfsrc="assets/img/logo.png" class="black-logo" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/logo.png" class="black-logo" alt="image"></noscript>
                            <img data-cfsrc="assets/img/logo-2.png" class="white-logo" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/logo-2.png" class="white-logo" alt="image"></noscript>
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="{{url_for('home')}}" class="nav-link active">
                                        Home 
                                    
                                    </a>
                                   
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Pages 
                                        <i class='bx bx-chevron-down'></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="about.html" class="nav-link">
                                                About
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="gallery.html" class="nav-link">
                                                Gallery
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="pricing.html" class="nav-link">
                                                Pricing
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="how-to-apply.html" class="nav-link">
                                                How to Apply
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="programs.html" class="nav-link">
                                                Programs
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="enroll.html" class="nav-link">
                                                Enroll
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="timetable.html" class="nav-link">
                                                Timetable
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">
                                                FAQ
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Account 
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
        
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="login.html" class="nav-link">
                                                        Login
                                                    </a>
                                                </li>
        
                                                <li class="nav-item">
                                                    <a href="register.html" class="nav-link">
                                                        Register
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    
                                        <li class="nav-item">
                                            <a href="error-404.html" class="nav-link">
                                                Error Page
                                            </a>
                                        </li>
                                
                                        <li class="nav-item">
                                            <a href="terms-of-service.html" class="nav-link">
                                                Terms of Service
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">
                                                Privacy Policy
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">
                                                Coming Soon
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="{{url_for('about')}}" class="nav-link">
                                        Word_Problems
                                        
                                    </a>

                                  
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Event 
                                        <i class='bx bx-chevron-down'></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="event.html" class="nav-link">
                                                Event
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="event-details.html" class="nav-link">
                                                Event Details
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Class 
                                        <i class='bx bx-chevron-down'></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="class.html" class="nav-link">
                                                Class
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="class-details.html" class="nav-link">
                                                Class Details
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Blog 
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog.html" class="nav-link">
                                                Blog
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">
                                                Blog Details
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">
                                        Contact
                                    </a>
                                </li>
                            </ul>

                            <div class="others-options d-flex align-items-center">
                                <div class="option-item">
                                    <div class="dropdown language-switcher d-inline-block">
                                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span>Language <i class='bx bx-chevron-down'></i></span>
                                        </button>
    
                                        <div class="dropdown-menu">
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/english.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/english.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>English</span>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/arab.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/arab.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>العربيّة</span>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/germany.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/germany.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>Deutsch</span>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/portugal.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/portugal.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>Português</span>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/china.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/china.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>简体中文</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <a href="{{url_for('login')}}" class="default-btn">Login</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="others-option-for-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-options d-flex align-items-center">
                                <div class="option-item">
                                    <div class="dropdown language-switcher d-inline-block">
                                        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span>Language <i class='bx bx-chevron-down'></i></span>
                                        </button>
    
                                        <div class="dropdown-menu">
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/english.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/english.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>English</span>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/arab.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/arab.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>العربيّة</span>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/germany.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/germany.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>Deutsch</span>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/portugal.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/portugal.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>Português</span>
                                            </a>
                                            <a href="#" class="dropdown-item d-flex align-items-center">
                                                <img data-cfsrc="assets/img/china.png" class="shadow-sm" alt="flag" style="display:none;visibility:hidden;"><noscript><img src="assets/img/china.png" class="shadow-sm" alt="flag"></noscript>
                                                <span>简体中文</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="option-item">
                                    <a href="#" class="default-btn">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
        {% block content %}{% endblock %}

          <!-- Start Footer Area -->
          <section class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <h2>
                                    <a href="index.html">Ketan</a>
                                </h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul class="social">
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-pinterest-alt'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Contact Us</h3>

                            <ul class="footer-contact-info">
                                <li>
                                    <i class='bx bxs-phone'></i>
                                    <span>Phone</span>
                                    <a href="tel:882569756">882-569-756</a>
                                </li>
                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <span>Email</span>
                                    <a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#9af2fff6f6f5daf1ffeefbf4b4f9f5f7"><span class="__cf_email__" data-cfemail="e28a878e8e8da2898796838ccc818d8f">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <i class='bx bx-map'></i>
                                    <span>Address</span>
                                    175 5th Ave Premium Area, New York, NY 10010, United States
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Activities</h3>
    
                            <ul class="quick-links">
                                <li>
                                    <a href="#">Maths Olympiad</a>
                                </li>
                                <li>
                                    <a href="#">Art Competition</a>
                                </li>
                                <li>
                                    <a href="#">English Novels</a>
                                </li>
                                <li>
                                    <a href="#">Science Competition</a>
                                </li>
                                <li>
                                    <a href="#">Teachers Day</a>
                                </li>
                                <li>
                                    <a href="#">World Kids Day</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Photo Gallery</h3>

                            <ul class="photo-gallery-list">
                                <li>
                                    <div class="box">
                                        <img data-cfsrc="assets/img/footer-gallery/footer-gallery-1.jpg" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/footer-gallery/footer-gallery-1.jpg" alt="image"></noscript>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="box">
                                        <img data-cfsrc="assets/img/footer-gallery/footer-gallery-2.jpg" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/footer-gallery/footer-gallery-2.jpg" alt="image"></noscript>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="box">
                                        <img data-cfsrc="assets/img/footer-gallery/footer-gallery-3.jpg" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/footer-gallery/footer-gallery-3.jpg" alt="image"></noscript>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="box">
                                        <img data-cfsrc="assets/img/footer-gallery/footer-gallery-4.jpg" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/footer-gallery/footer-gallery-4.jpg" alt="image"></noscript>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="box">
                                        <img data-cfsrc="assets/img/footer-gallery/footer-gallery-5.jpg" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/footer-gallery/footer-gallery-5.jpg" alt="image"></noscript>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="box">
                                        <img data-cfsrc="assets/img/footer-gallery/footer-gallery-6.jpg" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/footer-gallery/footer-gallery-6.jpg" alt="image"></noscript>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="box">
                                        <img data-cfsrc="assets/img/footer-gallery/footer-gallery-1.jpg" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/footer-gallery/footer-gallery-1.jpg" alt="image"></noscript>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="box">
                                        <img data-cfsrc="assets/img/footer-gallery/footer-gallery-2.jpg" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/footer-gallery/footer-gallery-2.jpg" alt="image"></noscript>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>

                                <li>
                                    <div class="box">
                                        <img data-cfsrc="assets/img/footer-gallery/footer-gallery-3.jpg" alt="image" style="display:none;visibility:hidden;"><noscript><img src="assets/img/footer-gallery/footer-gallery-3.jpg" alt="image"></noscript>
                                        <a href="#" target="_blank" class="link-btn"></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Footer Area -->


        <!-- Start Copy Right Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>
                        Copyright @<script data-cfasync="false" src="{{url_for('static',filename='cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')}}"></script><script>document.write(new Date().getFullYear())</script> Ketan. All Rights Reserved by
                        <a href="https://envytheme.com/" target="_blank">
                            EnvyTheme
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-up-arrow-alt'></i>
        </div>
        <!-- End Go Top Area -->

        <!-- dark version -->
        <div class="dark-version">
            <label id="switch" class="switch">
                <input type="checkbox" onchange="toggleTheme()" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <!-- dark version -->

        <!-- Jquery Slim JS -->
        <script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
        <!-- Bootstrap JS -->
        <script src="{{url_for('static',filename='assets/js/bootstrap.bundle.min.js')}}"></script>
        <!-- Meanmenu JS -->
        <script src="{{url_for('static',filename='assets/js/jquery.meanmenu.js')}}"></script>
        <!-- Owl Carousel JS -->
        <script src="{{url_for('static',filename='assets/js/owl.carousel.min.js')}}"></script>
        <!-- Magnific Popup JS -->
        <script src="{{url_for('static',filename='assets/js/jquery.magnific-popup.min.js')}}"></script>
        <!-- Imagelightbox JS -->
		<script src="{{url_for('static',filename='assets/js/imagelightbox.min.js')}}"></script>
        <!-- Odometer JS -->
        <script src="{{url_for('static',filename='assets/js/odometer.min.js')}}"></script>
        <!-- Jquery Appear JS -->
        <script src="{{url_for('static',filename='assets/js/jquery.appear.min.js')}}"></script>
        <!-- Ajaxchimp JS -->
		<script src="{{url_for('static',filename='assets/js/jquery.ajaxchimp.min.js')}}"></script>
		<!-- Form Validator JS -->
		<script src="{{url_for('static',filename='assets/js/form-validator.min.js')}}"></script>
		<!-- Contact JS -->
        <script src="{{url_for('static',filename='assets/js/contact-form-script.js')}}"></script>
        <!-- Custom JS -->
        <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

 </script>
    </body>
    </html>